<p id="notice"><%= notice %></p>

<p>
  <strong>Picture:</strong>
  <%= @dysfunction.picture %>
</p>

<%= link_to 'Edit', edit_dysfunction_path(@dysfunction) %> |
<%= link_to 'Back', dysfunctions_path %>
